.coupcoeur {
    display: flex;
    flex-direction: column;
}

.coupcoeur-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coupcoeur-images img {
    max-width: 90%;
}

.coupcoeur-video {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

h2,
h3 {
    text-align: center;
}