                #image {
                    height: 250px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                
                table {
                    border-collapse: collapse;
                    width: 1200px;
                    margin: 0;
                    width: 100%;
                    border: 3px solid black;
                }
                
                th,
                tr,
                td {
                    border: 2px solid black;
                }
                
                thead {
                    border: 2px black;
                }
                
                #description {
                    text-align: justify;
                    .carte-soul-acc img,
                    .carte-acc img {
                        width: 250px;
                        height: 300px;
                        padding: 13px 13px 0 13px;
                    }
                    .soul-acc h1,
                    .salsa-acc h1 {
                        text-align: center;
                        padding: 20px 0 40px 0;
                        font-size: 2.5em;
                    }
                    .soul-acc a,
                    .salsa-acc a {
                        text-decoration: none;
                        margin-top: 0%;
                    }
                    .salsa-acc h1 a {
                        color: white;
                        padding: 1px 8px;
                    }
                    .salsa-acc h1 :hover {
                        color: rgb(133, 33, 33);
                        background-color: white;
                        padding: 1px 8px;
                        transition: 0.9s;
                    }
                    .salsa-acc {
                        background: rgb(180, 175, 175);
                    }
                    .soul-acc h1 a {
                        color: white;
                        padding: 1px 8px;
                    }
                    .soul-acc h1 :hover {
                        color: black;
                        background-color: white;
                        padding: 1px 8px;
                        transition: 0.9s;
                    }
                    .soul-acc {
                        background-image: url(img/bg-soul.jpg);
                        padding-top: 10px;
                    }
                    .artistes-soul-acc,
                    .photos4-acc {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                    .carte-soul-acc img,
                    .carte-acc img {
                        width: 250px;
                        height: 300px;
                        padding: 13px 13px 0 13px;
                    }
                    .carte-soul-acc h2,
                    .carte-acc h2 {
                        margin-bottom: 10px;
                    }
                    .carte-soul-acc,
                    .carte-acc {
                        text-align: center;
                        width: 255px;
                        margin-bottom: 70px;
                    }
                    .carte-soul-acc audio,
                    .carte-acc audio {
                        width: 230px;
                        height: 30px;
                        margin-bottom: 10px;
                    }
                    .carte-acc {
                        background-color: rgb(133, 33, 33);
                        animation: carte-acc 5s;
                    }
                    @keyframes carte-acc {
                        from {
                            transform: translateX(-1500px);
                        }
                        30% {
                            transform: translateX(-1500px);
                        }
                        to {
                            transform: translateX(0)
                        }
                    }
                    .carte-soul-acc {
                        background-color: white;
                        box-shadow: 3px 3px 4px rgb(54, 54, 54);
                        animation: carte-soul 7s;
                    }
                    @keyframes carte-soul {
                        from {
                            transform: translateX(-1500px);
                        }
                        40% {
                            transform: translateX(-1500px);
                        }
                        to {
                            transform: translateX(0);
                        }
                    }
                    #soul,
                    #salsa {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;
                    }
                }